body{
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
  background-size: 1366px 1060px;
 background-repeat:no-repeat;
 padding:0;
 margin:0;
 background-image:url(http://img.wallpaperstock.net:81/outer-space-wallpapers_33924_1920x1080.jpg);
}
style{
  text-align: center;
}
h1{
  text-align: center;
 font-family: 'Ubuntu Condensed', sans-serif;
 border:5px double orange; 
 padding:5px;
 color: black;
  background-image:url(http://best-wallpaper.net/wallpaper/1920x1080/1107/Starry-space_1920x1080.jpg);
}
nav a{
  font-family: 'Ubuntu Condensed', sans-serif;
   color: lime;
}
@media(max-width: 1580px) {
  html {
    font-size: 18px;
  }
  .unbehaved-element {
    font-size: 1.9em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width:959px) {
  #container{
    width: 100%
  }
  #left-column{
    width: 70%;
  }
  #right-column{
    width: 30%;
  }
  img{
    width: 100%;
  }
}
@media screen and (max-width:640px) {
  #left-column{
    width: 100%;
  }
  #right-column{
    width: 100%;
  }
}
@media screen and (max-width:320px) {
  #container{
    width: 320px;
  }
}